.settings
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .alert.alert-success.text-center
        %h3 Welcome to TwitForget!
        %p Your account is linked, but not yet active. Continue by entering your payment information below.
        %p Next, choose how long you'd like your tweets to live before selecting <strong>Activate.</strong>
  .row
    .col-xs-12.col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Payment
        .panel-body
          %form#payment-form{ method: 'POST', action: '' }
            .row
              .col-xs-8
                .form-group
                  %input.form-control{ type: 'text', data: { stripe:  'number' }, placeholder: 'Card number' }
              .col-xs-4
                .form-group
                  %input.form-control{ type: 'text', data: { stripe:  'cvc' }, placeholder: 'CVC' }
            .row
              .col-xs-6
                .form-group
                  %select.form-control{ data: { stripe:  'exp-month' } }
                    %option{ value: '', disabled: 'disabled', selected: 'selected' } Month
                    %option{ 'ng-repeat' => 'month in dateOptions.months', value: '{{ $index + 1 }}' } {{ $index + 1 }} - {{ month }}
              .col-xs-6
                .form-group
                  %select.form-control{ data: { stripe:  'exp-year' } }
                    %option{ value: '', disabled: 'disabled', selected: 'selected' } Year
                    %option{ 'ng-repeat' => 'year in dateOptions.years', value: '{{ year }}' } {{ year }}
    .col-xs-12.col-md-8
      .panel.panel-default
        .panel-heading
          .pull-right= link_to 'Add', '/users/auth/twitter'
          %h3.panel-title Twitter Accounts
        %ul.list-group
          %li.list-group-item{ 'ng-repeat' => 'twitter_user in user.twitter_users' }
            @{{ twitter_user.twitter_data.screen_name }}