- content_for(:body_ng_app) do 'app' end
- content_for(:body_ng_controller) do 'AppController' end

.container{ "ng-if" => "loading" }= render 'shared/spinner'
.container{ "ng-if" => "!loading" }
  %nav.navbar.navbar-default{ role: 'navigation' }
    .navbar-header
      %button.navbar-toggle{ type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#sa-navbar-collapse' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'TwitForget', '#', class: 'navbar-brand'
    #sa-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        %li
          %a{ href: "#/" } Home
        %li
          %a{ href: "#/settings" } Settings

  .ng-view