!!! 5
%html
  %head
    %title= page_title
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'app', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'app'
    = csrf_meta_tags
  %body{'ng-app' => yield(:body_ng_app), 'ng-controller' => yield(:body_ng_controller)}
    = angular_templates
    = yield